extends layout

block content

  h1 Category: #{category.name}

  div(style='margin-left:20px;margin-top:20px')

    h3 Items : 

      dl
      each item in category_items
        h4
        dt
          a(href=item.url) #{item.name}
        dd price: #{item.price}

      else
        p This category has no items 

  hr
  h3 
    a(href=category.url+'/addItem') Add Item
  p
    a(href=category.url+'/delete') Delete Category      
  p 
    a(href=category.url+'/update') Update Category