extends layout

block content

  h1 Item #{item.name}
  h2 Description: #{item.description}  '
  hr
  
  h3 Price: #{item.price}

  h3 Quantity: #{item.quantity}
  p
    a(href=item.url+'/delete') Delete Item